// Colors
$black: #000000;
$white: #FFFFFF;
$grey: #EAEAEA;
$orange: #fcac45;
$red: #FF6B6B;
$yellow: #FFD93D;
$green: #6BCB77;
$pink: #FF6BB5;
$blue: #1889E6;
$dark-blue: #0F68B0;

$primary: $blue; // Primary project color
$secondary: $black; // Secondary project color
$tertiary: $grey; // Tertiary project color

// Fonts
$fontstack: "coolvetica", sans-serif;
